lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
.DS_Store

#Xcode
DerivedData
*.build
*.app
*.xcworkspace
*.xcuserdatad
persistent_config.json
data/*
spacebrew_log*
