.subscriber.range,
.subscriber.number,
.subscriber.string{
	background-color: gray;
}
.subscriber.boolean{
	background-color: pink;
}
.selected.subscriber{
	background-color:red;
}
.publisher.range,
.publisher.number,
.publisher.string,
.publisher.boolean{
	background-color:gray;
}
.selected.publisher{
	background-color:red;
}