body
{
	background-color:#fff;
}

.floatingSquare
{
	position:absolute;
	top:20px;
	left:20px;
	color:white;
	background-color:#333;
	width:200px;
	height:20px;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px #444;
}

ol li.active
{
	background-color:green;
}